* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
   }
             
   .circle {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 310px;
     height: 310px;
     border-radius: 50%;
     /* background: rgba(0, 0, 128, 0.196); */
     margin: 60px;
     z-index: 99;

   }
   
   .logo {
     position: absolute;
     width: 235px;
     height: 235px;
     border-radius: 50%;
     background-image: url("../../assets/images/squaregif.gif");
     background-size: cover;
   }


   @keyframes rotateText
   {
     0%
     {
      transform: rotate(360deg); 
     }
     100% 
     {
      transform: rotate(0deg); 
     }
   }
   
   .text {
     position: absolute;
     width: 100%;
     height: 100%;
     color: navy;
     font-family: arial;
     animation: rotateText 10s linear infinite;
     z-index: 99;
   }
   
   .text span{
     position: absolute;
     left: 50%;
     font-size: 1.4em;
     transform-origin: 0 155px;
   }

  