.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    background-color: rgb(216, 216, 12);
    padding: 15px;
    border-radius: 200px;
  }
  
  @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  }